body{
    background: linear-gradient(to right,#000000, #29022e);
}

.rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 100px;
    font-family: arial;
    letter-spacing: 5px;
}
.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}
.fallback {
    text-align: center;
    font-family: arial;
    letter-spacing: 2px;
    font-size: 40px;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}